@import "./src/styles/variables";



.navbar {
    padding: 20px;
    margin-bottom: 40px;
    background-color:$main-color ;
    
  
  
    .bwm-search {
      height: 50px;
      width: 300px;
      border-color: chartreuse;  
    }
  
  
    .navbar-brand {
      margin-right: 30px;
      font-size: 30px;
      letter-spacing: 1px;
      color:white;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow';
      font-weight: 1000;
      
    }
  
  
    .nav-item {
      font-size: 14px;
    }
  
  
    .btn-bwm-search {
      border-color:$light-gray-color;
      color:$light-gray-color;
  
  
      &:hover, &:focus, &:active {
        background-color: red;
        border-color:$main-color !important;
        color:$main-color !important;
        box-shadow: none;
      }
    }
  }